body {
    background-color: #343a40;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 60px;
    
}

/*----------------------------------------Nav bar buttons */
.navbar-brand {
    font-family: 'Kalam', cursive;
}

.navbar-brand:hover{
    font-weight: 600;
}

.dropdown {
    margin: 5px;
}

.text{
   color: rgba(255,255,255,.5)
}


.nav-link:hover{
    color:white;
    font-weight: 500;
}

.dropdown-toggle:hover{
    color:white;
    font-weight: 500;
}

.dropdown-toggle {
    margin-top: -5px;
}


/*---------------------------------------- Footer*/

.home{
    font-family: 'Kalam', cursive;
}

.home:hover{
    font-weight: 600;
}

.footer {
    position: fixed;
    left: 0;
    margin-top: 40px;
    bottom: 0;
    width: 100%;
    height: 60px;
  }

.ms-3:hover {
    font-weight: 600;
}


/*---------------------------------------- Text overlay on main image*/

.welcome {
    background-color: #3e3e3cdb;
    padding: 10px;
    font-size: 25px;
}

.welcome a:hover {
    background-color:  #23BBBB;
    color:white;
    font-weight: 700;
}
.card-text {
    font-weight: 600;
}


/*---------------------------------------- Back to top button */

#myBtn {
    position: fixed; 
    bottom: 60px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #23BBBB; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
    font-weight: 600;
  }
  
  #myBtn:hover {
    background-color: #445261;
    font-weight: 800;
  }

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}


/*--------------------------------------------Book reviews on homepage*/
.card {
    border: none;
    background-color: white;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: #445261;
    margin: 4px;
    text-transform: uppercase;
}

.list {
    margin-top: 50px;
}

.masthead {
    background-color: white;
    margin-top: 10px;
    overflow: hidden;
    display: inline-block;

}

.masthead-text {
    color:  #445261;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    margin-top: 5%;
}

.reviewh {
    padding-top: 10px;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover {
    font-weight: 800;
    color: #445261;
}


/*--------------------------------------------------------pagination*/
.pagination {
    margin-bottom: 100px;
}

.page-link {
    color:  white;
    background-color: #23BBBB;
}

.page-link{
    background-color:  #23BBBB;
    color:white;
}

/*--------------------------------------------------------post_detail*/


.post-title {
    margin-top: 10%;
     
}

.post-subtitle {
    margin: 3%;
    color:#445261;
}

.blurb {
    padding: 10px;
}

.age {
    padding: 10px 0 0 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    }


/*---------------------------------------------------signup button on sign up page*/
.btn-signup {
    background-color: #23BBBB;
    color: #fff;
    font-weight: 500;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

/*-------------------------------------------saves and likes on index page*/
.counts {
    margin-left: 30px;
}

.fa-thin {
    padding:10px;
}
.far {
    padding:10px;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/*--------------------------------------------------------Logout page*/

.signup {
    background-color: white;
    margin-bottom: 20px;
}


/*--------------------------------------------------------Media Query*/
@media screen and (max-width: 375px) {

.blog {
    margin-top: 200px;
}

.welcome {
    margin-top: 150px;
    background: #343a40;
}

}