{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load static %}
{% block content %}
{% if user.is_authenticated %}
   
        <h1>Create your own book review:</h1>
        </br>
        {% if submitted %}
            Your Book review was Submitted Succesfully! 
            Thank you for contributing.

        {% else %}
    
           <form action="" method="POST" novalidate>
           {% csrf_token %}

           {{ form|crispy}}

           <input type="submit" value="
           Submit" class="btn btn-success">

        </form>
        {% endif %} 

{% else %}
<h1>Sorry. You  must be Logged In to create a review. </h1>
<a href="{% url 'account_login' %}">Login Here</a>
{% endif %}

{% endblock %}