{% extends "base.html" %} 
{% load crispy_forms_tags %} 
{% block content %}
<!-- Only allows users who are log in --> 
{% if user.is_authenticated %} 
<div class="container text-light">
  <div class="row">
    <div class="col-md-8 mt-1 offset-md-2">
      <!-- Success alert when submitted -->
      <h1>Create your own book review:</h1> 
      {% if submitted %} 
      Your Book review was Submitted Succesfully! 
      Thank you for contributing. 
      {% else %} 
      <div class="container">
        <div class="row">
          <div class="col-md-8 mt-3 offset-md-2">
            <form method=POST> 
              {% csrf_token %} 
              {{ form|crispy }}
              <input type="submit" value="Submit" class="btn btn-signup mb-5 pb-3"> 
              {% endif %}
            </form>
          </div>
        </div>
        <!-- Alert to say you  need to be logged in  --> 
        {% else %} 
        <div class="text-light">
            <h1>Sorry. You must be Logged In to create a review. </h1>
        </div>
        <a href="{% url 'account_login' %}">Login Here</a> 
        {% endif %} 

        {% endblock %}