{% extends 'base.html' %}

{% block content %}


{% if view %}
<body>
    <!-- Blog Entries Column -->
    <div class="col-12 mt-3 left">
        <div class="row">
            {% for x in view %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="{#}" class="post-link">
                        <div class="image-container">
                            {% if "placeholder" in x.featured_image.url %}
                            <img class="card-img-top"
                                src="https://res.cloudinary.com/dyhess8yw/image/upload/v1666291002/shutterstock_587276996-800x500_kcsyxi.jpg">
                            {% else %}
                            <img class="card-img-top" src=" {{ x.featured_image.url }}">
                        </a>
                            {% endif %}
                            <div class="image-flash">
                                <p class="age">{{ x.age_range }}</p>
                            </div>
                        </div>
                        <a href="{#}" class="post-link">
                            <h2 class="card-title">{{ x.title }}</h2>
                        </a>
                            <p class="card-text text-dark">{{ x.excerpt }}</p>
                        
                        <hr />
                        <p class="card-text text-muted h6">{{ post.created_on}} 
                            <span class="counts">
                            <i class="far fa-heart"></i>{{ post.number_of_likes }} 
                            <i class="far fa-bookmark"></i>{{ post.number_of_saves }} 
                        </span> 
                        </p>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div>
            <!-- Back to top button -->
        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}

        </div>
    </div> 
</div>
</div>       


</div>
{% else %}

<h2 class="text-white"> Sorry there are no books for this age group.</h2>

{% endif %}

</body>
{% endblock %}