{% extends 'base.html' %} 
{% block content %} 
{% if view %} 
<body>
    <!-- Books filtered by age -->
    <div class="col-md-12 pt-5">
      <div class="row"> 
        {% for x in view %} 
        <div class="col-md-8 mb-3">
          <div class="card mb-8">
            <div class="card-body">
                <div class="image-container">
                  {% if "placeholder" in x.featured_image.url %}
                    <img class="card-img-top"
                        src="https://res.cloudinary.com/dyhess8yw/image/upload/v1666291002/shutterstock_587276996-800x500_kcsyxi.jpg" alt="Childrens books on a shelf" style="width : 100%; height : 100%">
                  {% else %}
                    <img class="card-img-top"style="width : 100%; height : 100%" src=" {{ x.featured_image.url }}">
                  {% endif %}
                    <div class="image-flash">
                      <p class="age">{{ x.age_range }}</p>
                    </div>
                </div>
                <h2 class="card-title">{{ x.title }}</h2>
                <p class="card-text text-dark">{{ x.excerpt }}</p>
                  <hr>
                <p class="card-text text-muted h6">{{ post.created_on}}
                <span class="counts">
                  <i class="far fa-heart"></i>{{ post.number_of_likes }}
                </span>
                </p>
              </div>
          </div>
        </div>
      </div> 
    </div>
    <div>
      {% if forloop.counter|divisibleby:3 %} 
    </div>
      <div>
        <!-- Back to top button -->
        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
      </div>
      {% endif %} 
      {% endfor %} 
  </div>
{% else %}
    <!-- Alert if there are no books for this age group -->
    <h2 class="text-white"> Sorry there are no books for this age group.</h2> 
    {% endif %}
</body>
  <!---Code for button up -->
  <script>
  // Learned from  W3school
  let mybutton = document.getElementById("myBtn");
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {
    scrollFunction();
   };
  
   function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }
  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
  }
</script>
  
  {% endblock %}