{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}

{% for x in review %}

    <div class="masthead offset-md-2">
        <div class="container">
            <h1 class="list">Book reviews:</h1>
            <div class="row g-0">
                <div class="col-md-6 masthead-text">
                    <!-- Post title goes in these h1 tags -->
                    <h1 class="post-title">{{ x.title }}</h1>
                    <!-- Post author goes before the | the post's created date goes after -->
                    <p class="post-subtitle">{{ x.book_author }}</p>
                    <p class="post-subtitle">{{ x.author }} | {{ x.created_on }}</p>
                    <p class="post_subtitle">{{ x.age_range}}</p>
                    <p class="blurb">{{ x.excerpt }}</p>
                </div>
            <div class="d-none d-md-block col-md-4 masthead-image">
                  <!-- The featured image URL goes in the src attribute -->
                  {% if "placeholder" in post.featured_image.url %}
                  <img src="https://res.cloudinary.com/dyhess8yw/image/upload/v1666291002/shutterstock_587276996-800x500_kcsyxi.jpg" width="100%">
                  {% else %}
                  <img src=" {{ x.featured_image.url }}" width="100%">
                  {% endif %}
            
             <!-- The post content goes inside the card-text. -->
             <div class="row">
                <div class="col-1">
                    <!-- The number of likes goes before the closing strong tag -->
                    <strong class="text-secondary"><i class="far fa-heart"></i> {{ post.number_of_likes }} </strong>
                </div>
                <div class="col-1">
                    {% with comments.count as total_comments %}
                    <strong class="text-secondary"><i class="far fa-comments"></i>
                        <!-- Our total_comments variable goes before the closing strong tag -->
                        {{ total_comments }}</strong>
                    {% endwith %}
                </div>
            </div>
        </div>
            </div>
        <div class="container fluid">
    
            <div class="row">
                <div class="col-md-8 card mb-4 mt-3">
                    <h3>Your review:</h3>
                    <div class="card-body">
                            <!-- The body of the comment goes before the | -->
                            {{ x.content | linebreaks }}
                        </div>
                    </div>
                </div>
            </div> 
        <a href="{% url 'update-review' x.id %}" class="btn mb-3 btn-signup btn active">Update Review</a>
        <a href="{% url 'delete-review' x.id %}"class="btn mb-3 btn-outline-danger btn active">Delete Review</a>
        </div>
    </div>
        {% endfor %}

        {% else %}
        <h2>Access Denied</h2>
        <p>You can only delete or amend the reviews you have posted.</p>

        Logged In User: {{ user }}
        </br>
        Post Author: {{ x.author }}
        </br>
        {% endif %}
    </div>
</div>

{% endblock %}
    

