{% extends "base.html" %}



{% block content %}

    <div class="card img-fluid">
        <img src="https://res.cloudinary.com/dyhess8yw/image/upload/v1670083647/schoolteacher-reading-books-with-his-school-kids-in-library-4463654_1_1_gsqkvq.jpg" class="card-img" alt="children reading with their teacher">
        <div class="card-img-overlay">
            <div class="text-light welcome">
          <p>Review and search childrens books</p>
          {% if user.is_authenticated %}
          <h3 class="text-light">Welcome {{ user }}</h3>
          <a class="btn btn-signup" href="{% url 'list-books' %}">
            Saved Books
          </a>
          <a class="btn btn-signup" href="{% url 'add-review' %}">
            Add a Review
          </a>
        </div>
          {% else %}
          <a
            class="btn btn-signup"
            href="{% url 'account_login' %}"
            >Login</a
          >
          <a
            class="btn btn-signup"
            href="{% url 'account_signup' %}"
            >Sign Up
          </a>
          {% endif %}
        </div>
    </div>


        <!-- Blog Entries Column -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dyhess8yw/image/upload/v1666291002/shutterstock_587276996-800x500_kcsyxi.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}">
                            </a>
                                {% endif %}
                                <div class="image-flash">
                                    <p class="age">{{ post.age_range }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                            </a>
                                <p class="card-text text-dark">{{ post.excerpt }}</p>
                            
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}} 
                                <span class="counts">
                                <i class="far fa-heart"></i>{{ post.number_of_likes }} 
                                <i class="far fa-bookmark"></i>{{ post.number_of_saves }} 
                            </span> 
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
             <div>  <!-- Back to top button -->
            <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
        </div> 
        </div>  
        </div>
        <div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
    
                {% endif %}
            </ul>
        </nav>
    </div>
    </div>
    {% endif %}
    {%endblock%}

