{% extends 'base.html' %} 
{% block content %}
{% load crispy_forms_tags %}

<div class="masthead offset-md-1">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                 <h1 class="post-title">{{ post.title }}</h1>
                 <h4>{{ post.book_author }}</h4>
                 <p class="card-text ">
                    {{ post.content | safe }}
                </p>
             </div>
             <div class="d-none d-md-block col-md-5 masthead-image">
                 <!-- The featured image URL or an alternitive if one isnt provided -->
                 {% if "placeholder" in post.featured_image.url %}
                <img src="https://res.cloudinary.com/dyhess8yw/image/upload/v1666291002/shutterstock_587276996-800x500_kcsyxi.jpg" width="100%">
                {% else %}
                <img src=" {{ post.featured_image.url }}" width="100%">
                {% endif %}
            <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
        </div>
        </div>
    </div>

    
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <div class="row">
                    <div class="col-1">
                        <strong>
                            <!-- If logged in you can like.Simple changes when clicked or unclicked -->
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <!-- Shows number of likes -->
                        <span class="text-secondary">{{ post.number_of_likes }} </span>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Reviews:</h3>
            <div class="card-body">
                <p class="font-weight-bold">
                    {{ post.author }} 
                    <span class=" text-muted font-weight-normal">
                        {{ post.created_on }}
                    </span>
                </p>
                <!-- Comment section -->
            <div class="comments" style="padding: 10px;">
                {{ post.excerpt }}
                {% for comment in comments %}
                    <p class="font-weight-bold">
    	            <br>
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span>
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                <!-- Alert when comment is submitted -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your review is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3>Leave a review:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% else %}
                <!-- Comment telling people to log in before reviewing -->
                <h5 class="reviewh">You must log in to leave a review.</h5>
                <a class="btn btn-signup" href="{% url 'account_login' %}">Login</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}