{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}
    
    
    <div class="container">
        <h1>Update a book review:</h1>
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
    <form method=POST>
        {% csrf_token %}
        {{ form|crispy }}
        <br/>
        <input type="submit" value="Update" 
        class="btn btn-secondary">

    </form>
</div>
</div>
{% else %}   
    <h1>This is not your review. You may only update the reviews you have posted.</h1>

{% endif %}

{% endblock %}